n8n/seo-keyword-research-workflow-multi-row.json
{
  "name": "SEO キーワードリサーチ（複数行対応版）",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "SEO Keywords Research",
          "mode": "name"
        },
        "options": {}
      },
      "id": "read-keywords-001",
      "name": "Read Keywords",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [300, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "loop-over-items-001",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [500, 300]
    },
    {
      "parameters": {
        "url": "=https://google.com/complete/search?output=toolbar&gl={{ $json.Region || 'US' }}&q={{ encodeURIComponent($json.Keywords) }}",
        "options": {}
      },
      "id": "autogenerate-keywords-001",
      "name": "Autogenerate Keywords",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "format-keywords-001",
      "name": "Format Keywords",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "toplevel.CompleteSuggestion",
        "options": {}
      },
      "id": "split-out-001",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "keyword-assignment-001",
              "name": "keyword",
              "type": "string",
              "value": "={{ $json.suggestion?.data || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-keyword-001",
      "name": "Extract Keyword",
      "type": "n8n-nodes-base.set",
      "position": [1300, 300],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "keyword"
            }
          ]
        },
        "options": {}
      },
      "id": "aggregate-keywords-001",
      "name": "Aggregate Keywords",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "row-number-assignment",
              "name": "row_number",
              "type": "string",
              "value": "={{ $('Loop Over Items').item.json.row_number }}"
            },
            {
              "id": "keywords-list-assignment",
              "name": "keywords_list",
              "type": "string",
              "value": "={{ $json.keyword.join(', ') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-update-001",
      "name": "Prepare Update",
      "type": "n8n-nodes-base.set",
      "position": [1700, 300],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "SEO Keywords Research",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "List of keywords": "={{ $json.keywords_list }}"
          },
          "matchingColumns": ["row_number"],
          "schema": [
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "List of keywords",
              "displayName": "List of keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Region",
              "displayName": "Region",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true
            }
          ]
        },
        "options": {}
      },
      "id": "update-google-sheets-001",
      "name": "Update Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1900, 300]
    },
    {
      "parameters": {
        "content": "# SEO キーワードリサーチ（複数行対応版）\n\n## 特徴\n- 全ての行を順番に処理\n- 各行ごとに関連キーワードを生成\n- 日英両対応（Region列でJP/US指定）\n\n## 処理フロー\n1. スプレッドシートから全行読み込み\n2. Loop Over Itemsで1行ずつ処理\n3. 各行のキーワードで関連キーワード生成\n4. 結果を元の行に書き戻し\n5. 次の行へ（ループ）",
        "height": 380,
        "width": 2100,
        "color": 5
      },
      "id": "sticky-note-001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [60, 140]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Keywords": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        null,
        [
          {
            "node": "Autogenerate Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Autogenerate Keywords": {
      "main": [
        [
          {
            "node": "Format Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Keywords": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Extract Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Keyword": {
      "main": [
        [
          {
            "node": "Aggregate Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Keywords": {
      "main": [
        [
          {
            "node": "Prepare Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Update": {
      "main": [
        [
          {
            "node": "Update Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
