n8n/n8n_gift_json/企業文書RAG（Google Drive）チャットボット.json
{
  "name": "【特典】企業文書RAG（Google Drive）チャットボット",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "company-files",
          "cachedResultName": "company-files"
        },
        "options": {}
      },
      "id": "1b97ce81-03f4-41b8-aa2f-dcf751ab8cfe",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        300,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "id": "195b7a6d-dce8-461a-a7f1-6d8f14a98ab2",
      "name": "Embeddings Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        220,
        380
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "IxXYQkMXXcEq70zC",
          "name": "Tennki_Google Gemini(PaLM) Api"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {}
      },
      "id": "ef7de75f-519a-4382-bc16-72ce25de7967",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        380,
        380
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "b4b6dcef-2368-4635-9b60-63588c8fea24",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        580,
        540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "あなたは、会社のポリシーに基づいて従業員の質問に答えるために設計された人事アシスタントです。\n\n提供された社内文書から関連情報を取得し、従業員の質問に対して簡潔で正確かつ有益な回答を行ってください。\n\n会社の文書から情報を取得する際は、「company_documents_tool」というツールを使用してください。\n\n提供された文書の中に回答が見つからない場合は、「利用可能なリソースからは回答を見つけられませんでした」と返答してください。"
        }
      },
      "id": "ca68436e-42dd-4911-a0a5-83d3049c302a",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -100,
        820
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "company-files",
          "cachedResultName": "company-files"
        },
        "options": {}
      },
      "id": "bd8f9751-32a3-4ed9-9631-c9b8df6ff931",
      "name": "Pinecone Vector Store (Retrieval)",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        240,
        980
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "id": "466c03f0-166c-4ffd-adec-e671be414fbb",
      "name": "Embeddings Google Gemini (retrieval)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        240,
        1160
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "IxXYQkMXXcEq70zC",
          "name": "Tennki_Google Gemini(PaLM) Api"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "id": "cf20a9ae-63b7-4d05-ac0e-faf04c164d80",
      "name": "Download File From Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        60,
        160
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "content": "## 企業文書データをもとにチャットボットとチャットする",
        "height": 740,
        "width": 1220,
        "color": 5
      },
      "id": "e51b1428-1eb3-451f-ad29-d7a50b414997",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        700
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "list",
          "value": "1evDIoHePhjw_LgVFZXSZyK1sZm2GHp9W",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1evDIoHePhjw_LgVFZXSZyK1sZm2GHp9W",
          "cachedResultName": "INNOVI PRO"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "13b4572b-e8ab-4116-bec7-e0438725b355",
      "name": "Google Drive File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -160,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "list",
          "value": "1evDIoHePhjw_LgVFZXSZyK1sZm2GHp9W",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1evDIoHePhjw_LgVFZXSZyK1sZm2GHp9W",
          "cachedResultName": "INNOVI PRO"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "b8f09528-2761-4c4c-97a9-2f182fc5a1b3",
      "name": "Google Drive File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -160,
        60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "f8dbbdae-0052-42db-a6b8-64974c709a66",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        20,
        1020
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "69ce4ad6-c13f-4fd5-a528-aa9073f2464a",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -260,
        820
      ],
      "webhookId": "5f1c0c82-0ff9-40c7-9e2e-b1a96ffe24cd",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## Googleドライブでドキュメントを更新または新規作成する際に、「ベクトルストア」というノードにドキュメントデータを追加する",
        "height": 760,
        "width": 1220,
        "color": 4
      },
      "id": "f8d8bde3-a42e-4189-98d7-6700c9614a13",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "id": "08c61751-ea33-4b47-8f8b-fa102a5521cd",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -160,
        1020
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "id": "12a194f6-1b1e-4293-9391-bf1f57208f3c",
      "name": "Google Gemini Chat Model (retrieval)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        620,
        980
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "IxXYQkMXXcEq70zC",
          "name": "Tennki_Google Gemini(PaLM) Api"
        }
      }
    },
    {
      "parameters": {
        "content": "---\n## セットアップ手順\n\n1.  **Google Cloud プロジェクトと Vertex AI API:**\n    * Google Cloud プロジェクトを作成します。\n    * プロジェクトで **Vertex AI API** を有効にします。\n\n2.  **Google AI API キー:**\n    * Google AI Studio から **Google AI API キー** を取得します。\n\n3.  **Pinecone アカウント:**\n    * Pinecone ウェブサイトで無料アカウントを作成します。\n    * Pinecone ダッシュボードから **API キー** を取得します。\n    * Pinecone プロジェクトに `company-files` という名前のインデックスを作成します。\n\n4.  **Google ドライブ:**\n    * 会社文書を保存するための専用フォルダを Google ドライブ内に作成します。\n\n5.  **n8n での認証情報:** n8n 環境で以下の認証情報を設定します。\n    * **Google Drive OAuth2**\n    * **Google Gemini (PaLM) API** (取得した Google AI API キーを使用)\n    * **Pinecone API** (取得した Pinecone API キーを使用)\n\n6.  **ワークフローのインポート:**\n    * このワークフローを n8n インスタンスにインポートします。\n\n7.  **ワークフローの設定:**\n    * 両方の Google Drive トリガーノードを、Google ドライブで作成した特定のフォルダを監視するように更新します。\n    * Pinecone Vector Store ノードを、作成した `company-files` インデックスを使用するように設定します。",
        "height": 860,
        "width": 420
      },
      "id": "c2d2c174-69ba-473b-ae93-40fe616cd6bb",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -840,
        -180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "company_documents_tool",
        "description": "Retrieve information from any company documents"
      },
      "id": "a9118cb0-f097-4462-8b95-3ba7c1d5f7dc",
      "name": "company_documents_tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        380,
        820
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Created": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Updated": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File From Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store (Retrieval)": {
      "ai_vectorStore": [
        [
          {
            "node": "company_documents_tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini (retrieval)": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Retrieval)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model (retrieval)": {
      "ai_languageModel": [
        [
          {
            "node": "company_documents_tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "company_documents_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5ad48d58-9716-4f20-af9d-dd2bc4f51d32",
  "meta": {
    "instanceId": "836d4da92b0efe6a857e1d16a436635b4065381482ec53ff37c84b65f92a3538"
  },
  "id": "05x8o8WL7we4NBRh",
  "tags": [
    {
      "createdAt": "2025-07-06T06:08:39.818Z",
      "updatedAt": "2025-07-06T06:08:39.818Z",
      "id": "IlXIPmxMtgCNxP4H",
      "name": "特典"
    }
  ]
}