n8n/n8n_gift_json/日のミーティング得意先の最新情報をGmailで自動取得.json
{
  "name": "【特典】今日のミーティング得意先の最新情報をGmailで自動取得",
  "nodes": [
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "apiKey",
              "stringValue": "32aa914c947342169c4998b6701a77e0"
            },
            {
              "name": "newsAge",
              "type": "numberValue",
              "numberValue": "10"
            },
            {
              "name": "maxArticles",
              "stringValue": "20"
            },
            {
              "name": "emails"
            }
          ]
        },
        "options": {}
      },
      "id": "fdba8e34-72d1-47f3-bae1-d867433c2f30",
      "name": "Setup",
      "type": "n8n-nodes-base.set",
      "position": [
        260,
        360
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "companyName",
              "stringValue": "={{ $json.summary.toLowerCase().replace('meeting with', '').replace('call with', '').trim() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9c590739-d95c-4404-9c1d-5fe257d215ec",
      "name": "Extract company name",
      "type": "n8n-nodes-base.set",
      "position": [
        940,
        160
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "23f28752-00b6-437b-805e-1e55f3048b73",
      "name": "Every morning @ 7",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        40,
        360
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "bcfb06b1-d365-43a8-9802-869529baca98",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              },
              "leftValue": "={{ $json.summary.toLowerCase() }}",
              "rightValue": "call with"
            },
            {
              "id": "4ea43ccf-d586-4985-87db-fc1e9f734351",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              },
              "leftValue": "={{ $json.summary.toLowerCase() }}",
              "rightValue": "meeting with"
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "19ca5dec-1eff-47c8-8726-b7cc7693fee7",
      "name": "Filter meetings",
      "type": "n8n-nodes-base.if",
      "position": [
        680,
        360
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "=https://newsapi.org/v2/everything?apiKey={{ $('Setup').first().json.apiKey }}&q={{ $json.companyName }}&from={{ DateTime.now().minus({ days: $('Setup').first().json.newsAge }).toFormat('yyyy-MM-dd') }}&sortBy=publishedAt&language=en&pageSize={{ $('Setup').first().json.maxArticles }}&searchIn=title",
        "options": {}
      },
      "id": "a0c3d87b-7118-4dfc-ae40-06b22eedbaab",
      "name": "Get latest news",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1140,
        160
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let html = `<table style=\"width: 100%\">`;\nhtml += '</table>';\n\nfor(article of $input.item.json.articles) {\n  console.log(article)\n  html += `\n    <tr>\n      <td style=\"display: flex; background-color: #f2f4f8; font-family: sans-serif; padding: 0.3em 0.5em\">\n        <div style=\"padding: 1em\">\n          <a style=\"display: block; margin-bottom: 10px; font-size: 1.2em\" href=\"${article.url}\">${article.title}</a>\n          <i>\n            ${article.description ? article.description : article.content}\n          </i>\n          <div style=\"margin-top: 1em\">\n            ${ article.source?.name ? '<b>Source:</b> ' + article.source?.name : '' }\n          </div>\n        </div>\n      </td>\n    </tr>\n  `\n}\nreturn { \"html\": html };"
      },
      "id": "d13dc7c3-78cc-41c1-acb7-ae1008654d3b",
      "name": "Format for email",
      "type": "n8n-nodes-base.code",
      "position": [
        1340,
        160
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "sendTo": "={{ $('Setup').first().json.emails }}",
        "subject": "=Latest news for '{{ $('Extract company name').item.json.summary }}'",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "8c925bce-dfee-42a6-b04d-97ab8a1ffa02",
      "name": "Send news",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1540,
        160
      ],
      "typeVersion": 2.1,
      "webhookId": "ce0f3727-7eee-4425-86e9-fecb28ffc371",
      "credentials": {
        "gmailOAuth2": {
          "id": "NgPtUScSVNJhcVOJ",
          "name": "Gmail account (hiroki.sato@myuuu.io)"
        }
      }
    },
    {
      "parameters": {},
      "id": "53198647-2167-4527-9575-57160c54311c",
      "name": "No meetings today",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1540,
        380
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "milorad.filipovic19@gmail.com",
          "cachedResultName": "milorad.filipovic19@gmail.com"
        },
        "options": {
          "timeMin": "={{ $today }}",
          "timeMax": "={{ $today.plus({ days: 1 }) }}",
          "singleEvents": true
        }
      },
      "id": "f3370f8d-1dd5-48ad-bc89-1d8d5a3c885b",
      "name": "Get meetings for today",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        500,
        360
      ],
      "typeVersion": 1,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Tp7DojcpAeRxWnaq",
          "name": "Tennki_Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "content": "# 今日のミーティング得意先の最新情報取得\n",
        "height": 912,
        "width": 1776,
        "color": 4
      },
      "id": "51e3b2e9-2761-46ac-883c-7968ac3d5db7",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n---\n### ワークフローの設定\n---\n\n1.  **`apiKey`**: [News API](https://newsapi.org)のAPIキー\n2.  **`newsAge`**: ニュースの取得期間（日数）\n3.  **`maxArticles`**: 送信する記事の最大数（最大100件）\n4.  **`emails`**: ニュースを受信するメールアドレスのリスト（カンマ区切り）",
        "height": 511.499984507795
      },
      "id": "698dda3c-341a-474f-8d81-eb95f5dc8a86",
      "name": "Sticky Note18",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        200,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n「Meeting with」または「Call with」で始まるすべての会議を取得しますが、必要に応じてフィルターを自由に更新してください。",
        "height": 275.2500697149263,
        "width": 231.52514020446353
      },
      "id": "40f3c8e6-5fc8-4acf-8a22-d24b4a2f854f",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        660,
        340
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Setup": {
      "main": [
        [
          {
            "node": "Get meetings for today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract company name": {
      "main": [
        [
          {
            "node": "Get latest news",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every morning @ 7": {
      "main": [
        [
          {
            "node": "Setup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter meetings": {
      "main": [
        [
          {
            "node": "Extract company name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No meetings today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get latest news": {
      "main": [
        [
          {
            "node": "Format for email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for email": {
      "main": [
        [
          {
            "node": "Send news",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get meetings for today": {
      "main": [
        [
          {
            "node": "Filter meetings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "01076540-db1a-407c-8117-fffb9af7172f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "836d4da92b0efe6a857e1d16a436635b4065381482ec53ff37c84b65f92a3538"
  },
  "id": "kKopVhkIEfwYEBVd",
  "tags": [
    {
      "createdAt": "2025-07-06T06:08:39.818Z",
      "updatedAt": "2025-07-06T06:08:39.818Z",
      "id": "IlXIPmxMtgCNxP4H",
      "name": "特典"
    }
  ]
}