examples/dify-api-caller.json
{
  "name": "Dify API Caller - Batch Processing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, email, question FROM pending_questions WHERE processed = false ORDER BY created_at ASC LIMIT 10"
      },
      "id": "fetch-questions",
      "name": "Fetch Pending Questions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Dify PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batch",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dify-api:5001/v1/chat-messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputs",
              "value": "{}"
            },
            {
              "name": "query",
              "value": "={{ $json.question }}"
            },
            {
              "name": "response_mode",
              "value": "blocking"
            },
            {
              "name": "user",
              "value": "={{ $json.email }}"
            },
            {
              "name": "conversation_id",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "call-dify-api",
      "name": "Call Dify API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Dify API Key"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Dify APIレスポンスを処理\nconst response = $input.item.json;\nconst originalData = $node[\"Split In Batches\"].json;\n\nreturn {\n  questionId: originalData.id,\n  email: originalData.email,\n  question: originalData.question,\n  answer: response.answer || '',\n  conversationId: response.conversation_id || '',\n  messageId: response.message_id || '',\n  createdAt: response.created_at || new Date().toISOString(),\n  metadata: response.metadata || {}\n};"
      },
      "id": "process-response",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "pending_questions",
          "mode": "list"
        },
        "updateKey": "id",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "processed": true,
            "answer": "={{ $json.answer }}",
            "conversation_id": "={{ $json.conversationId }}",
            "message_id": "={{ $json.messageId }}",
            "processed_at": "={{ $now }}"
          }
        },
        "options": {}
      },
      "id": "update-database",
      "name": "Update Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1250, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Dify PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "no-reply@example.com",
        "toEmail": "={{ $json.email }}",
        "subject": "あなたの質問への回答",
        "emailFormat": "html",
        "text": "<h2>ご質問への回答</h2>\\n<p><strong>質問:</strong> {{ $json.question }}</p>\\n<p><strong>回答:</strong></p>\\n<p>{{ $json.answer }}</p>\\n<hr>\\n<p>このメールは自動送信されました。</p>"
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1450, 300],
      "credentials": {
        "smtp": {
          "id": "4",
          "name": "SMTP Credentials"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "wait",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Pending Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending Questions": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Call Dify API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Dify API": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Response": {
      "main": [
        [
          {
            "node": "Update Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Database": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-13T00:00:00.000Z",
  "versionId": "1"
}
